# Pandas Case Study

- Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset]    (https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! 

# follow along and complete the tasks outlined in bold below.

** Import pandas as pd.**

In [3]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [4]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [5]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [6]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [36]:
# Calculate the mean of the 'BasePay' column in the 'sal' DataFrame
sal['BasePay'].mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [9]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [10]:
# Filter the DataFrame based on the employee's name
filtered_df = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']

# Retrieve the job title
job_title = filtered_df['JobTitle']

print(job_title)

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [11]:
# Retrieve the total pay benefits
total_pay_benefits = filtered_df['TotalPayBenefits']

print(total_pay_benefits)

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [16]:
# Sort the DataFrame by 'TotalPayBenefits' in descending order
sorted_df = sal.sort_values(by='TotalPayBenefits', ascending=False)

# Retrieve the first record (highest-paid person)
highest_paid_person = sorted_df.iloc[0]
print(highest_paid_person)

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [18]:
# Sort the DataFrame by 'TotalPayBenefits' column in ascending order
sorted_df = sal.sort_values(by='TotalPayBenefits', ascending=True)

# Retrieve the first record (lowest-paid person)
lowest_paid_person = sorted_df.iloc[0]

print(lowest_paid_person)

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [19]:
# Filter the DataFrame for the years 2011 to 2014
filtered_df = sal[(sal['Year'] >= 2011) & (sal['Year'] <= 2014)]

# Group the data by year and calculate the average BasePay
average_basepay_per_year = filtered_df.groupby('Year')['BasePay'].mean()

print(average_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [20]:
# Extract the 'JobTitle' column
job_titles = sal['JobTitle']

# Calculate the number of unique job titles
unique_job_titles_count = job_titles.nunique()

print(unique_job_titles_count)

2159

** What are the top 5 most common jobs? **

In [21]:
# Calculate the frequency of each job title
job_title_counts = sal['JobTitle'].value_counts()

# Retrieve the top 5 most common jobs
top_5_jobs = job_title_counts.head(5)

print(top_5_jobs)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [22]:
# Filter the dataset for records from 2013
df_2013 = sal[sal['Year'] == 2013]

# Count the number of job titles with only one occurrence
job_titles_unique_to_2013 = sal['JobTitle'].value_counts()
job_titles_count = job_titles_unique_to_2013[job_titles_unique_to_2013 == 1].count()

print(job_titles_count)

239

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [28]:
# Count the number of job titles containing the word 'Chief' (exact match)
chief_count = sal[sal['JobTitle'].str.contains(r'\bChief\b', regex=True, case=False)]['JobTitle'].count()
print(chief_count)

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [31]:
sal['title_len'] = sal['JobTitle'].apply(lambda x: len(str(x)))

# Calculate the correlation between title length and TotalPayBenefits
correlation = sal[['title_len', 'TotalPayBenefits']].corr()

print(correlation)

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

In [35]:
# Calculate the length of the job title string
sal['title_len'] = sal['JobTitle'].str.len()

# Calculate the correlation between title length and TotalPayBenefits
correlation_df = sal[['title_len', 'TotalPayBenefits']].corr()

print(correlation_df)

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!